# Diretórios de build
/build/
/bin/
/obj/

# Arquivos de saída de compilação
*.o
*.exe
*.out
*.a
*.so
*.dylib
*.dll

# Arquivos de configurações de IDEs
*.idea/
*.vscode/
*.project
*.cproject
*.classpath
*.settings/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
*.DS_Store
Thumbs.db

# Arquivos temporários e de backup
*.tmp
*.temp
*.bak
*.swp
*~
*.log

# Outros
*.zip
*.tar.gz
*.tar
*.tgz
